@media  (max-width : 900px) {
    .tecnologias-card{
        width: 100% !important;
    }
    .tecnologias-card>div{
        margin: 0 0px 10px 0 !important;
    }
    #home>h1{
        font-size:10vw !important;
    }
    #home>h2{
        font-size:5vw !important;
        letter-spacing: 5px!important;
        margin-top: 15px!important;
    }
    body{
        font-size: 1.2em!important;
    }
    nav>ul{
        display:none !important;
    }

}        

body{
    overflow-x: hidden !important;
    height: 200vh;
    margin:0;
    font-family: 'Roboto', sans-serif;
    cursor:pointer;
}
header{
    height: 10vh;
}
header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#82ba62;
    color:white;
    height: 100%;
}
header>nav>span{
    height: 100%;
    display:flex;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
header>nav>span>img{
    height: 100%;
    width: auto;
}
header>nav>ul{
    display:flex;
    list-style: none;
}
header>nav>ul>li>a{
    margin-right: 15px;
    color: white;
    text-decoration: none;
}
.fixed-header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:999;
}
#tecnologias{
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;

}
.tecnologias-card{
    height: 20vh;
    width: 25%;
    display: flex;
    color:gray;

}
.tecnologias-card>div{
    display: flex;
    align-items: center;
    flex:1;
    margin: 0 10px 10px 0;
    border:1px solid #eee;
    
}
.tecnologias-card:hover{
    transform: scale(1.05);
}
.title-container{
    width:100%;

}
#home>h1{
    font-size: 3em;
    font-family: 'Open Sans Condensed';
    width: 100%;
    font-weight: 500;
    letter-spacing: 15px;
    color: #a9e398;
    margin: 15px;
    text-align:center;
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
}
#home>h2:hover{
    color:#0707064a;
}
#home>h2{
    font-family: 'Open Sans Condensed';
    width: 100%;
    font-weight: normal;
    letter-spacing: 15px;
    text-align: center;
    margin: 0;
    color: #333;
}
h3{
    font-size:2em;
    font-weight: inherit;
    color: #a9e398;
}
.icono,svg{
    height: 50px;
    width: 50px;
    margin:20px;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
}
footer{
    height: 50vh;
    background: #2f2c2c1a;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
footer>ul{
    color: gray;
    font-size: 1em;
    text-decoration: none;
    list-style: none;
}
footer>ul>li{
    margin-top: 20px;
}
